<lasso-page package-path="./browser.json"/>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title></title>
    <base href="/"/>
    <lasso-head/>
  </head>
  <body>
    <!-- <${"app"}/> -->
    
    <${"app"}/>
    <lasso-body/>
    <browser-refresh/>
  </body>
</html>
