::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: #f8f9fa;
}

::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
}

::-webkit-scrollbar-corner {
    background: #000;
}

$headerHeight: 60;
$sidebarSize: 300px;
html,
body {
    overflow: hidden;
    height: 100vh;
   
}

header-bar {
    min-height: $headerHeight+px;
    display: flex;
    .logo {
        min-width: $sidebarSize;
        min-height: $headerHeight+px; // display: inline-block;
        font-size: 30px;
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: #f8f9fa;
        &.hideNav {
            display: none;
        }
    }
     
}

.app {
    display: flex;
    side-bar {
        display: block;
        width: $sidebarSize;
        height: 100vh;
        overflow-y: scroll;
        &.hideNav {
            display: none;
        }
    }
    .main {
        flex: 1;
        height: 100vh;
        overflow-y: scroll;
        padding: 10px; // display: block;
        background-color: #f8f9fa;
    }
}
.login-box, .register-box {
    width: 400px;
    margin: 7% auto;
}
.dropdown-menu {
    &.sidebar {
        display: inherit;
        position: inherit;
        border:none;
        float: none;
    }
}
.filetree {
    // background: white;
    // border: 4px solid gray;
    // border-radius: 4px;
    // margin: 0 0 24px 0;
    padding: 0px 10px 0px 10px; 
  
    .file {
      display: block;
    //   font-family: $main-font;
      letter-spacing: 0.3px;
      line-height: 32px;
      color: gray;
    }
  
    .children {
      padding-left: 24px;
      position: relative;
      overflow: hidden;
  
      .file {
        position: relative;
  
        &:before {
          content: '';
          left: -18px;
          bottom: 16px;
          width: 16px;
          height: 9999px;
          position: absolute;
          border-width: 0 0 1px 1px;
          border-style: solid;
          border-color: gray;
          border-radius: 0 0 0 3px;
        }
      }
    }
  }